<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 py-3 d-none d-md-block ps-3"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" routerLink="o-nas">O nas</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" routerLink="pracownicy">Pracownicy</a>
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" routerLink="kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="d-block d-md-none mb-5">
  <div class="navbar">
    <div class="container nav-container">
      <input class="checkbox" type="checkbox" name="" id="" />
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <div class="logo">
        <h1>Navbar</h1>
      </div>
      <div class="menu-items">
        <li class="nav-item me-3">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="o-nas">O nas</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="pracownicy">Pracownicy</a>
        </li>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
